.text-input {
  display: block;
  width: 100%;
  height: 30px;
  margin: 10px 20px;
  padding: 10px;
  background: rgba(33,34,50,0.5);
  border: solid 1px rgba(21,25,42,1);
  border-bottom: solid 1px rgba(47,53,77,1);
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(1,1,1,0.5);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
